/* GLOBAL */
html {
    height: 100%;
    font-size: 17px;
}

body {
    margin: 0px;

    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #121212;
    height: 100%;
}

b {
    color: #BB86FC;
}

p {
    color: #9E9E9E;
    font-size: 1rem;
    margin: 5%;
}

h2 {
    color: white;
    border-bottom: 1px solid white;
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 1%;
}

h3 {
    color: white;
    font-size: 1.5rem;
}

/* NAVIGATION BAR */
.navigation {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navigation_list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
}

.navigator a {
    color: white;
    text-decoration: none;
}

.navigator a:hover {
    color: #BB86FC;
    cursor: pointer;
}

/* FRONT */
.front {
    height: 100%;

    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 4rem;
}

/* ABOUT */
.about {
    margin-top: 5%;
    height: 50%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.about p {
    font-size: 2rem;
}

/* SKILLS */
.skills {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.skills .skill_list {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px;
}

.skills .skill_list li{
    list-style: none;
    margin: 3%;
    border-radius: 5%;
    border: 1px solid #1D1D1D;
    background-color: #1D1D1D;
    box-shadow: 2px 2px 2px black;
}

/* PROJECTS */
.projects {
    height: 100%;
    margin-top: 5%;

    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.projects h2 {
    text-align: center;
}

.projects .project_list {
    height: 70%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
}

.projects .project_list li{
    height: 70%;
    list-style: none;
    margin: 3%;
    background-color: #1D1D1D;
    box-shadow: 2px 2px 2px black;
}

.projects .project_list li:nth-child(1) {
    position: relative;
}

.projects .project_list li:nth-child(1) .background_image {
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/project1.PNG);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.projects .project_list li:nth-child(1) .transparent {
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
}

.projects .project_list li:nth-child(2) {
    position: relative;
}

.projects .project_list li:nth-child(2) .background_image {
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/project2.PNG);
    background-size: cover;
    position: absolute;
    z-index: 1;}

.projects .project_list li:nth-child(2) .transparent {
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
}

.projects .project_list li:nth-child(3) {
    position: relative;
}

.projects .project_list li:nth-child(3) .background_image {
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/project3.jpg);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.projects .project_list li:nth-child(3) .transparent {
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
}

/* CONTACTS */
.contacts {
    height: 30%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.contacts .contacts_list {
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    color: white;
    padding: 0px;

}

.contacts .contacts_list li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.contacts .contacts_list li a:hover {
    color: #BB86FC;
    font-weight: bold;
}

/* BOTTOM */
.bottom {
    padding: 10px;
    text-align: center;
}

/* Responsive Web */
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 16px;
    }

    .front {
        font-size: 2rem;
    }
    
    .about {
        margin-left: 10%;
        margin-right: 10%;
    }

    .skills {
        margin-left: 10%;
        margin-right: 10%;
    }

    .skills .skill_list {
        grid-template-columns: 1fr 1fr;
    }

    .projects {
        margin-left: 10%;
        margin-right: 10%;
    }

    .projects .project_list {
        grid-template-columns: 1fr 1fr;
    }

    .contacts {
        margin-left: 10%;
        margin-right: 10%;
    }

    .contacts .contacts_list {
        grid-template-columns: 1fr 1fr;

    }
}
/* Mobile */
@media screen and (max-width: 767px) {
    html {
        font-size: 15px;
    }

    .front {
        font-size: 2rem;
    }
    
    .about {
        margin-left: 5%;
        margin-right: 5%;
    }

    .skills {
        margin-left: 5%;
        margin-right: 5%;
    }

    .skills .skill_list {
        grid-template-columns: 1fr;
    }

    .projects {
        margin-left: 5%;
        margin-right: 5%;
    }

    .projects .project_list {
        grid-template-columns: 1fr;
    }

    .contacts {
        margin-left: 5%;
        margin-right: 5%;
    }

    .contacts .contacts_list {
        grid-template-columns: 1fr;

    }
}

/*Effects*/
@keyframes cursor {
    50%{border-color: transparent; }
}

.text {
    display: inline-block;
    line-height: 90%;
    border-right: 0.25rem solid white;
    animation: cursor 0.5s ease infinite;
}