/* GLOBAL */
html {
    height: 100%;
    font-size: 17px;
}

body {
    margin: 0px;

    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #121212;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

b {
    color: #BB86FC;
}

p, h4 {
    color: #9E9E9E;
    font-size: 1rem;
    margin: 5%;
}

h2 {
    color: white;
    border-bottom: 1px solid white;
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 1%;
}

h3 {
    color: white;
    font-size: 1.5rem;
}

ul {
    padding-inline-start: 0px;
}

.sa {
    opacity: 0;
    transition: all 0.5s ease;
}

/* NAVIGATION BAR */
.navigation {
    position: fixed;
    width: 100%;
}

.navigation_list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
}

.navigator a:hover {
    color: #BB86FC;
    cursor: pointer;
}

/* FRONT */
.front {
    height: 100%;

    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 4rem;
}

/* ABOUT */
.about {
    margin-top: 10%;
    height: 90%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.about p {
    font-size: 2rem;
}

/* SKILLS */
.skills {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.skills .skill_list {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills .skill_list li{
    list-style: none;
    margin: 3%;
    border-radius: 5%;
    border: 1px solid #1D1D1D;
    background-color: #1D1D1D;
    box-shadow: 2px 2px 2px black;
}

/* PROJECTS */
.projects {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    overflow: hidden;
}

.projects h2 {
    text-align: center;
}

.projects_list {
    margin-top: 5%;
}

.projects_list li {
    list-style: none;
    margin: 5%;
    border-radius: 5%;
    border: 1px solid #1D1D1D;
    background-color: #1D1D1D;
    box-shadow: 2px 2px 2px black;
}

.projects img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    border-radius: 2%;
    margin-bottom: 0px;
}

.projects_list .content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 3%;
}

.projects_list .content h3 {
    margin: 2%;
}

.projects_list .content p {
    margin: 2%;
}

.projects_list .content span{
    color: white;
}

/* CONTACTS */
.contacts {
    height: 30%;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.contacts .contacts_list {
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    color: white;
}

.contacts .contacts_list li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.contacts .contacts_list li a:hover {
    color: #BB86FC;
    font-weight: bold;
    text-decoration: underline;
}

/* BOTTOM */
.bottom {
    padding: 10px;
    text-align: center;
}

/* Scroll Animation */
.sa-up {
    transform: translate(0,100px);
}

.sa-right {
    transform: translate(-100px, 0);
 }
     
 .sa-left {
    transform: translate(100px, 0);
}

.show {
    opacity: 1;
    transform: none;
}

/* Responsive Web */
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 16px;
    }

    .front {
        font-size: 2rem;
    }
    
    .about {
        margin-left: 10%;
        margin-right: 10%;
    }

    .skills {
        margin-left: 10%;
        margin-right: 10%;
    }

    .skills .skill_list {
        grid-template-columns: 1fr 1fr;
    }

    .projects {
        margin-left: 10%;
        margin-right: 10%;
    }

    .contacts {
        margin-left: 10%;
        margin-right: 10%;
    }

    .contacts .contacts_list {
        grid-template-columns: 1fr 1fr;

    }
}
/* Mobile */
@media screen and (max-width: 767px) {
    html {
        font-size: 15px;
    }

    .front {
        font-size: 2rem;
    }
    
    .about {
        margin-left: 5%;
        margin-right: 5%;
    }

    .skills {
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
    }

    .skills .skill_list {
        grid-template-columns: 1fr;
    }

    .projects {
        margin-left: 5%;
        margin-right: 5%;
    }

    .contacts {
        margin-left: 5%;
        margin-right: 5%;
    }

    .contacts .contacts_list {
        grid-template-columns: 1fr;

    }
}

/*Effects*/
@keyframes cursor {
    50%{border-color: transparent; }
}

.text {
    display: inline-block;
    line-height: 90%;
    border-right: 0.25rem solid white;
    animation: cursor 0.5s ease infinite;
}