/* GLOBAL */
html {
    height: 100%;
    font-size: 17px;
}

body {
    margin: 0px;

    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    background-color: #121212;
    height: 100%;
}

b {
    color: #BB86FC;
}

p {
    color: #9E9E9E;
    font-size: 1rem;
    margin: 5%;
}

h2 {
    color: white;
    border-bottom: 1px solid white;
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 1%;
}

h3 {
    color: white;
    font-size: 1.5rem;
}

/* FRONT */
.front {
    height: 100%;

    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 4rem;
}

/* ABOUT ME */
.about_me {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.about_me p {
    font-size: 2rem;
}

/* SKILLS */
.skills {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.skills .skill_list {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills .skill_list li{
    list-style: none;
    margin: 3%;
    border-radius: 5%;
    border: 1px solid #1D1D1D;
    background-color: #1D1D1D;
    box-shadow: 2px 2px 2px black;
}

/* PROJECTS */
.projects {
    height: 50%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.projects .project_list {
    height: 90%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects .project_list li{
    height: 80%;
    list-style: none;
    margin: 3%;
    background-color: #1D1D1D;
    box-shadow: 2px 2px 2px black;
}

.projects .project_list li:nth-child(1) {
    position: relative;
}

.projects .project_list li:nth-child(1) .background_image {
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/project1.PNG);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.projects .project_list li:nth-child(1) .transparent {
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
}

.projects .project_list li:nth-child(2) {
    position: relative;
}

.projects .project_list li:nth-child(2) .background_image {
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/project2.PNG);
    background-size: cover;
    position: absolute;
    z-index: 1;}

.projects .project_list li:nth-child(2) .transparent {
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
}

.projects .project_list li:nth-child(3) {
    position: relative;
}

.projects .project_list li:nth-child(3) .background_image {
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/project3.jpg);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.projects .project_list li:nth-child(3) .transparent {
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
}

/* CONTACTS */
.contact {
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.contact .contact_list {
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    color: white;
}

.contact .contact_list li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.contact .contact_list li a:hover {
    color: #BB86FC;
    font-weight: bold;
}

/* BOTTOM */
.bottom {
    padding: 10px;
    text-align: center;
}